.web-banner {
  background-image: url("../../../../../assets/images/products-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto !important;

  &-container {
    background-color: rgba(128, 109, 222, 0.6);
    box-shadow: 15px 13px 0 white;
    padding: 20px;
    border-radius: 5px;
  }
}

.fw-500 {
  font-weight: 500;
}
