<ng-container [formGroup]="form">
  <div [class]="styleBody">
    <label class="form-label" [for]="controlName">{{label}}</label>
    <input
      [class.is-invalid]="control.invalid && control.dirty && control.touched"
      [class]="className"
      [formControlName]="controlName"
      [id]="controlName"
      [type]="type"
      [placeholder]="placeHolder"
    >
    <ng-content select=".extra"></ng-content>
    <div class="invalid-feedback" *ngIf="control.invalid && control.dirty && control.touched">
      <ng-content select=".error-input"></ng-content>
    </div>
  </div>
</ng-container>
