<ng-container [formGroup]="form">
  <div class="form-check mb-3">
    <label class="form-check-label" [for]="controlName">{{label}}</label>
    <input
      [class.is-invalid] = "control.invalid && control.dirty && control.touched"
      [class]="className"
      [formControlName]="controlName"
      [id]="controlName"
      type="text"
    >
    <div class="invalid-feedback" *ngIf="control.invalid && control.dirty && control.touched">
      <ng-content select=".error"></ng-content>
    </div>
  </div>
</ng-container>
