<ng-container *ngIf="!fastCheckLogin">
  <button
    class="btn btn-outline-primary"
    data-bs-target="#signupBackdrop"
    data-bs-toggle="modal"
    type="button"
  >
    Sign Up
  </button>

  <ng-container>
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="signupBackdrop" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">Sign Up</h1>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
            <ng-container *ngTemplateOutlet="form"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #form>
    <form (ngSubmit)="onSubmit()" [formGroup]="signup">
      <div class="input-group mb-3">
        <input aria-label="FullName" class="form-control" formControlName="fullName" placeholder="Full Name" type="text">
      </div>

      <div class="input-group mb-3">
        <input
          [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid && email.dirty && email.touched}"
          aria-describedby="basic-addon2"
          aria-label="Email Address" class="form-control"
          formControlName="email"
          placeholder="Email Address"
          type="text"
        >
        <span *ngIf="email.pending" class="input-group-text loader" id="basic-addon2"></span>
      </div>

      <ng-container formArrayName="phones">

        <label class="form-label" for="phone-number">Mobile</label>
        <ng-container *ngFor="let phone of phones.controls; let i=index">
          <div class="input-group mb-1">
            <input
              [formControlName]="i"
              aria-describedby="button-addon2"
              class="form-control"
              id="phone-number"
              placeholder="Mobile Number"
              type="text"
            >
            <button
              (click)="deletePhone(i)"
              *ngIf="i > 0"
              class="btn btn-outline-danger"
              id="button-addon2"
              type="button"
            >
              Delete
            </button>
          </div>
        </ng-container>

        <div class="mb-3">
          <button (click)="addPhone()" class="btn btn-sm btn-primary" type="button">Add Other</button>
        </div>
      </ng-container>

      <ng-container formGroupName="address">
        <label class="form-label" for="address">Address</label>
        <div class="row g-3 mb-3" id="address">
          <div class="col-12">
            <label class="form-label" for="inputStreet">Street</label>
            <input class="form-control" formControlName="street" id="inputStreet" type="text">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="inputCity">City</label>
            <input class="form-control" formControlName="city" id="inputCity" type="text">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="inputState">State</label>
            <select class="form-select" formControlName="state" id="inputState">
              <option selected value="0">Choose...</option>
              <option value="Qena">Qena</option>
              <option value="Qus">Qus</option>
              <option value="Cairo">Cairo</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label" for="inputZip">Zip</label>
            <input class="form-control" formControlName="zip" id="inputZip" type="text">
          </div>
        </div>
      </ng-container>

      <div class="input-group mb-3">
        <input [class.is-invalid]="signup.controls['password'].errors && signup.controls['password'].dirty"
               aria-label="Password" class="form-control" formControlName="password" placeholder="Password"
               type="password">
        <input aria-label="Confirm Password" class="form-control" formControlName="confirm" placeholder="Retype Password"
               type="password">
      </div>

      <button [disabled]="signup.invalid" class="btn btn-success d-block w-100">Register</button>
    </form>
  </ng-template>

</ng-container>

<!--
Full Name, use: required, min length 5 validators.

Email, use required, Email validators.

Mobile number, use required, pattern validators. you can add more phone number

Address (City, Postal Code, street): make the city, postal code and street nested

Password : required, min length 6.

Confirm password(Bonus)

Create custom Async Validator for checking if the email used

-->
