
<button
  class="btn btn-outline-primary"
  data-bs-target="#signupBackdrop"
  data-bs-toggle="modal"
  type="button"
>
 Sign Up
</button>

<ng-container>
  <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       id="signupBackdrop" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">Sign Up</h1>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="form"></ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!--
Full Name, use: required, min length 5 validators.

Email, use required, Email validators.

Mobile number, use required, pattern validators. you can add more phone number

Address (City, Postal Code, street): make the city, postal code and street nested

Password : required, min length 6.

Confirm password(Bonus)

Create custom Async Validator for checking if the email used

-->
<ng-template #form>
  <form [formGroup]="signup" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <input formControlName="fullName" type="text" class="form-control" placeholder="Full Name" aria-label="FullName">
    </div>

    <div class="input-group mb-3">
      <input
        [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid && email.dirty && email.touched}"
        formControlName="email"
        type="text" class="form-control"
        placeholder="Email Address"
        aria-label="Email Address"
        aria-describedby="basic-addon2"
      >
      <span  *ngIf="email.pending" class="input-group-text loader" id="basic-addon2"></span>
    </div>

    <ng-container formArrayName="phones">

      <label for="phone-number" class="form-label">Mobile</label>
      <ng-container *ngFor="let phone of phones.controls; let i=index">
        <div class="input-group mb-1">
          <input
            [formControlName]="i"
            type="text"
            class="form-control"
            id="phone-number"
            placeholder="Mobile Number"
            aria-describedby="button-addon2"
          >
          <button
            *ngIf="i > 0"
            (click)="deletePhone(i)"
            class="btn btn-outline-danger"
            type="button"
            id="button-addon2"
          >
            Delete
          </button>
        </div>
      </ng-container>

      <div class="mb-3">
        <button (click)="addPhone()" type="button" class="btn btn-sm btn-primary">Add Other</button>
      </div>
    </ng-container>

    <ng-container formGroupName="address">
      <label for="address" class="form-label">Address</label>
      <div class="row g-3 mb-3" id="address">
        <div class="col-12">
          <label for="inputStreet" class="form-label">Street</label>
          <input formControlName="street" type="text" class="form-control" id="inputStreet">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input formControlName="city" type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select formControlName="state" id="inputState" class="form-select">
            <option selected value="0">Choose...</option>
            <option value="Qena">Qena</option>
            <option value="Qus">Qus</option>
            <option value="Cairo">Cairo</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input formControlName="zip" type="text" class="form-control" id="inputZip">
        </div>
      </div>
    </ng-container>

    <div class="input-group mb-3">
      <input [class.is-invalid]= "signup.controls['password'].errors && signup.controls['password'].dirty" formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Password">
      <input formControlName="confirm" type="password" class="form-control" placeholder="Retype Password" aria-label="Confirm Password">
    </div>

    <button [disabled]="signup.invalid" class="btn btn-success d-block w-100">Register</button>

    {{signup.value | json}}
    {{signup.controls['fullName'].errors | json }}
    <hr>
    {{signup.controls['password'].errors | json}}
  </form>
</ng-template>
