<div class="card shadow-sm">
  <img [src]="image" class="bd-placeholder-img card-img-top">
  <div class="card-body">
    <a class="text-dark text-decoration-none" [routerLink]="link">
      <h5 class="card-title fw-bold fs-5 mb-2">{{title}}</h5>
    </a>
    <span class="text-muted border-bottom pb-1 mb-2 d-block">{{category}}</span>
    <p class="card-text">{{description}}</p>
    <div class="bg-light rounded px-1 py-3 mb-3">
      <ng-container *ngTemplateOutlet="discount? priceWithDiscount: priceOnly"></ng-container>
      <ng-content select=".extra"></ng-content>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button (click)="handelCart? handelCart(): null" class="btn btn-sm btn-warning" type="button">Add to cart</button>
      <small
        [ngClass]="{'text-danger': qty < 2, 'text-muted': qty >= 2}">QTY: {{qty}}</small>
    </div>
  </div>
</div>

<ng-template #priceWithDiscount>
  <div class="d-flex align-items-center">
    <p class="fs-6 m-0 text-muted text-decoration-line-through">
      Price:{{price | currency}}
    </p>
    <span class="fs-6 text-success mx-3">{{calcDiscount(price, discount) | currency}}</span>
    <span class="badge text-bg-danger p-2">{{discount | percent}}</span>
  </div>
</ng-template>

<ng-template #priceOnly>
  <p class="fs-6 m-0 fw-500">
    Price: <span class="text-success">{{price | currency}}</span>
  </p>
</ng-template>
